<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.JS Tutorial</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
      [v-cloak]{
        display: none;
        /** display none on the object until JS has rendered **/
      }
    </style>
  </head>

  <body>
    <div id="app">
      <h1>{{message}} - Count: {{count}}</h1>
      <!-- set the value to the variable message -->
      <!-- updating this value will update the variable -->
      <input type="text" v-model="message" />
      <!-- on click call the function -->
      <button v-on:click="countUp" class="btn btn-primary">Count up</button>
      <!-- @click also does the same -->
      <button @click="countDown" class="btn btn-primary">Count down</button>
      <br/><br/>
      <hr>
      <br/><br/>
      <!-- enter a url and click the button -->
      <!-- this will remove http and trailing / -->
      <!-- and output it in the text link below -->
      <p>Visit: <a :href="url">{{cleanUrl}}</a></p>
      <input type="text" class="form-control" v-model="url"/>
      <button @click="humanizurl" class="btn btn-primary">Humanize me</button>
    </div>
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue World',
        count: 0,
        url: '',
        cleanUrl: '',
      },
      methods: {
        countUp: function(){
          this.count += 1;
        },
        countDown: function(){
          this.count -= 1;
        },
        humanizurl: function(){
          // Remove the http and trailing / from the url
          this.cleanUrl = this.url.replace(/^https?:\/\//, '').replace(/\/$/, '')
        }
      }
    })
  </script>
</html>
